# Disable all BSP devices except serial, and ethernet
iar_stm32f429ii_sk.enable=false
iar_stm32f429ii_sk.cpu0.enable=true
iar_stm32f429ii_sk.serial0.enable=true

# Enable only the required components in the BSP side of the tree
nu.bsp.enable=false
nu.bsp.iar_stm32f429ii_sk.enable=true
nu.bsp.arch.enable=true
nu.bsp.drvr.cpu.stm32f2x.enable = true
nu.bsp.drvr.serial.stm32_usart.enable=true

