# Enable just required components in OS side of tree
nu.os.enable=false
nu.os.conn.sdio.enable=true
nu.os.drvr.serial.enable=true
nu.os.drvr.eth.enable=true
nu.os.drvr.fat_rd.enable=true
nu.os.drvr.syslogger.enable=true
nu.os.kern.plus.enable=true
nu.os.kern.devmgr.enable=true
nu.os.kern.rtl.enable=true
nu.os.kern.eqm.enable=true
nu.os.net.stack.enable=true
nu.os.net.ipv6.enable=true
nu.os.net.web.enable=true
nu.os.net.prot.enable=true
nu.os.net.prot.tftp.shell.enable=false
nu.os.net.prot.telnet.shell.enable=false
nu.os.svcs.init.enable=true
nu.os.svcs.registry.enable=true
nu.os.svcs.appinit.enable=true
nu.os.svcs.syslog.enable=true
nu.os.stor.file.vfs.enable=true
nu.os.stor.file.fs.fat.enable=true
nu.os.drvr.cpu.enable=true
nu.os.drvr.sdio.host.hcd.enable=true

# Include the platform specific core kernel bits
.include "bsp/${platform}/config/${platform}.core.config"
