# Build settings for Nucleus POSIX
toolsets.csgnu_arm.LDFLAGS="-nostdlib -nostartfiles -Wl,--gc-sections -Wl,--defsym -Wl,PAGE_SIZE=$(PAGE_SIZE)"
toolsets.csgnu_arm.link="$(LD) -Wl,-Map=$(basename $(1)).map -o $(1) $(LDFLAGS) $(ARCH_LDFLAGS) $(LDFLAGS_$(notdir $(1))) -T$(LDSCRIPT_$(notdir $(1))) -Wl,-L$(dir $(1))../lib -Wl,--start-group $(2) -lnucleus -lm -lstdc++ -lgcc -Wl,--end-group"

