# Enable just minimal components in OS side of tree
nu.os.enable=false
nu.os.drvr.serial.enable=true
nu.os.kern.plus.enable=true
nu.os.kern.devmgr.enable=true
nu.os.kern.rtl.enable=true
nu.os.kern.eqm.enable=true
nu.os.svcs.init.enable=true
nu.os.svcs.registry.enable=true
nu.os.svcs.appinit.enable=true
nu.os.drvr.cpu.enable=true

# Include the platform specific minimum kernel bits
.include "bsp/${platform}/config/${platform}.min_kernel.config"
